.db {

  &__header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: $dbHeaderHeight;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $white;
    box-shadow: 0 2px 5px 2px rgba(60, 64, 67, 0.15);
    z-index: 1000;
  }

  &__new {
    margin-top: $dbHeaderHeight;
    padding: 1.5rem;
    background-color: #dadcde;
  }

  &__create {
    width: 160px;
    height: 160px;
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: 1px solid #eee;
    border-radius: 4px;
    font-size: 1.5rem;
    color: $black;
    text-align: center;

    &:hover {
      border: 2px solid green;
      color: green;
    }
  }

  &__container {
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  &__table {
    padding: 1rem;
  }

  &__list-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;

    span {
      font-size: 16px;
      color: $black;
      font-weight: 500;
      padding: 0 12px;
    }
  }

  &__list {
    @include clearListStyle;
  }

  &__record {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 12px;
    border-radius: 25px;

    a {
      text-decoration: none;
      color: $black;
      font-size: 14px;
      
      &:hover {
        text-decoration: underline;
      }
    }

    &:hover {
      background-color: rgba(green, 0.1);
    }
  }
}