@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import "~normalize.css";

@import "system/var";
@import "system/mixins";

@import "components/header";
@import "components/toolbar";
@import "components/formula";
@import "components/table";
@import "components/dashboard";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $mainFont;
  font-size: 12px;
}

.excel {
  color: $gray;
  font-size: .8rem;
  max-width: 100%;
  height: 100%;
  position: relative;
}